@charset "utf-8";
/* CSS Document */

body{
	padding:50px;
}
.btn{ 
	background-color: #DBF0DE; 
	padding:10px;
	border:solid 1px #999;
}
.btn:hover{ 
	cursor:pointer;
}
a { font-size:14px; color:#999;
	
}

